<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="footer" th:fragment="footer" style="background-color: #E6E6FA; color:black; padding-left: 30px;">
        <footer class="page-footer font-small cyan darken-3">
            <div class="footer-copyright text-left py-3">
                Billy's Closet Company<br>
                본사 : 서울 서대문구 신촌로 83  (03789) /
                전화번호 : 02) 333-3333 /
                대표 : 권민영/
                <br>
                ⓒBilly's Closet All Rights Reserved
            </div>
        </footer>
    </div>
</html>